body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("./images/refinery.jpg");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.container > * {
    border: 2px solid #000;
}

header {
    /* background-color: #0a4b8c; */
    background:linear-gradient(90deg, #1c69c2, #7cb3e7);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 10px;
}

header .header-left{
    flex-basis: 30%;
}
header .header-left img{
    width: 80px;
    height: 70px;
}

header .header-right{
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
}
header .header-right > *{
    text-align: center;
}
header .header-right > p{
    text-align: end;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    font-style: italic;
}
/* LOGO */
header img {
    height: 50px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: right;
}

.author {
    font-size: 0.8rem;
    text-align: right;
    margin-top: 15px;
}

.main {
    display: flex;
    background-color: #dce9f9;
}

.sidebar {
    width: 200px;
    background: linear-gradient(#1c69c2, #7cb3e7);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar a {
    text-decoration: none;
    background-color: #0a4b8c;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #073a70;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #e5f0ff;
}

.title {
    background-color: #4f9ee7;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px #888;
    text-align: center;
}
.content .block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px 0;
}

.block .image-block {
  flex: 0 0 22%;
  border: 1px solid #000;
}

.block .image-block img {
  width: 100%;
  height: 150px;
  display: block;
}
.content .download-btn {
  background-color: #0066cc;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
}

.content .download-btn:hover {
  background-color: #0056b3;
}